..my-page { 
  
  perspective: 800px;
}
.my-page-item-food {
  width: 270px;
  height: 250px;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}
.my-page-item-food figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.my-page-item-food .front-side-food {
  border: dashed 2px #655643;
  background: #fff;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
}
.my-page-item-food .back-side-food {
  background: #655643;
  transform: rotateY( 180deg );
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.my-page-item-food:hover {
  transform: rotateY( 180deg );
}
.box-section {
  font-family: Helvetica,Arial,sans-serif;
  text-align: center;
  padding: 15px;
  margin: 0;
}
.box-icon {
  padding: 0;
  border: 0;
  font-size: 100%;
  text-align: center;
}
.icon-food {
  width: 130px;
  height: 130px;
}
.box-section-title-food {
  color: #444444;
  margin: 15px 0 12px;
  line-height: 1.3em;
  font-size: 16px;
  margin-top: 20px;
}
.box-section-content-food {
  color: #444444;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 1.65em;
}
.box-section-link-food {
  display: inline-block;
  background: #dd9933;
  margin-top: 15px;
  
}
.box-section-link-food a {
  display: inline-block;
  margin: 5px auto 5px;
  padding: .3em .6em;
  cursor: pointer;
  font-size: 13px;
  text-decoration: none;
  color: #ffffff;
}
.my-page-item-food .back-side-food .box-section-content-food{
  color: #fff;
}
.my-page-item-food .back-side-food .box-section-title-food{
  color: #fff;
}